<footer class="footer">
  <div class="outer">
    <div class="float-right">
      <%- partial('post/busuanzi') %>
    </div>
    <ul class="list-inline">
      <li>&copy; <%= date(new Date(), 'YYYY') %> <%= config.title %></li>
	<% if (theme.beian){ %>
        <li><%- theme.beian.number %></li>
      <% } %>
      <li><%= __('Theme ') %> <a href="https://github.com/zhwangart/hexo-theme-ocean">Ocean</a></li>
    </ul>
  </div>
</footer>